[submodule "vendor/github.com/fsouza/go-dockerclient"]
	path = vendor/github.com/fsouza/go-dockerclient
	url = https://github.com/fsouza/go-dockerclient
[submodule "vendor/github.com/gorilla/handlers"]
	path = vendor/github.com/gorilla/handlers
	url = https://github.com/gorilla/handlers
